# Diretórios de build
.build/
build/
Build/

# Arquivos de cache do CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# Arquivos compilados
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.exe

# Arquivos gerados por alguns IDEs
.vscode/
.vs/
*.suo
*.user